@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<html>
    <head>
        <meta charset="utf-8"/>
        <title>About</title>
    </head>
    <body>
        <h3>
            This site is a primitive example of payment execution. It contains work with Entity Framework,
            sending a letter to mail and others interesting things. You can browse the site and rate my work)
        </h3><hr/>
        <p>17.07.2019</p>
    </body>
</html>
