@{
    ViewBag.Title = "Contact";
}

<html>
    <head>
        <meta charset="utf-8"/>
        <title>Contact</title>
    </head>
    <body>
        <h3>This site was made by Julia Slipchuk</h3>
        <table class="table">
            <tr><th>Phone: </th><td>+38-(068)-510-84-52</td></tr>
            <tr><th>Email: </th><td>julia2019olex@gmail.com</td></tr>
            <tr><th>Telegram: </th><td>julia_slipchuk</td></tr>
        </table>
        <hr/>
        <p>17.07.2019</p>
    </body>
</html>